@using TicketSystem.Web.Models.Account
@{
    ViewData["Title"] = "Login";
}
@model LoginModel

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="mb-3">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn btn-primary mt-2">Login</button>
</form>
