@using TicketSystem.Web.Models.Users
@model CreateUserViewModel

@{
    ViewData["Title"] = "Criar Usuário";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Senha</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="RoleId" class="form-label"></label>
                <select asp-for="RoleId" class="form-select" asp-items="ViewBag.Roles">
                    <option value="">-- Selecione um Perfil --</option>
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}