@{
    ViewData["Title"] = "Admin Panel Page";
}
<div class="text-center">
    <h1 class="text-center mb-5">Admin Panel</h1>
    <div class="d-flex justify-content-center gap-5">
        <a asp-controller="Home" asp-action="LoginOnly" class="btn btn-primary">My Panel</a>
        <a asp-controller="PropostaProject" asp-action="Index" class="btn btn-primary">Manage Projects</a>
        <a asp-controller="Users" asp-action="Index" class="btn btn-primary">Manage Users</a>
        <a asp-controller="Workflow" asp-action="Index" class="btn btn-primary">Manage Workflows</a>
    </div>
</div>
